@{
    ViewData["Title"] = "Privacy Policy";
    //Layout = "_LayoutDark";
}
<h1>@ViewData["Title"]</h1>

<p>Testando Chamada de um novo Layout</p>

@section Scripts
{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
}

@section Menu
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Fake</a>
    </li>
}